S3method(mrtree,Seurat)
S3method(mrtree,SingleCellExperiment)
S3method(mrtree,data.frame)
S3method(mrtree,matrix)
S3method(tree_to_labelmat,hclust)
S3method(tree_to_labelmat,phylo)
import(RSpectra)
import(checkmate)
import(ggimage)
import(ggplot2)
import(parallel)
importFrom(RSpectra,svds)
importFrom(ape,Nnode)
importFrom(ape,Ntip)
importFrom(ape,as.phylo)
importFrom(ape,cophenetic.phylo)
importFrom(ape,rtree)
importFrom(ape,vcv.phylo)
importFrom(checkmate,assert_character)
importFrom(checkmate,assert_class)
importFrom(checkmate,assert_matrix)
importFrom(checkmate,assert_numeric)
importFrom(checkmate,assert_true)
importFrom(clustree,clustree)
importFrom(data.tree,as.Node)
importFrom(data.tree,as.phylo.Node)
importFrom(dendextend,cutree)
importFrom(ggtree,ggtree)
importFrom(ggtree,layout_dendrogram)
importFrom(ggtree,nodepie)
importFrom(grDevices,hcl)
importFrom(parallel,detectCores)
importFrom(parallel,mclapply)
importFrom(reshape2,melt)
importFrom(stats,aggregate)
importFrom(stats,dist)
importFrom(stats,hclust)
importFrom(stats,kmeans)
importFrom(stats,prcomp)
importFrom(tibble,as_tibble)
importFrom(tidytree,as.treedata)
importFrom(tidytree,full_join)
importFrom(utils,install.packages)
importFrom(utils,installed.packages)
importFrom(utils,setTxtProgressBar)
importFrom(utils,txtProgressBar)
importFrom(uwot,umap)
importFrom(yaml,yaml.load)
exportPattern(".")
